body{
	background:#EEE;
    font-family: "Open Sans", sans-serif;
    color:#999;
}
hr{
    border:none;
    border-bottom: 1px solid #CCC;
}
a{
    text-decoration: none;
    color:#888;
}
a:hover{
    color:#666;
}
#main{
  width:400px;
  margin:100px auto 0 auto; 
}
#box{
  background-color: rgb(254, 254, 254);
  border-bottom:2px solid #C34646;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
}
#footer{
    margin-top:10px;
    font-size: 14px;
    text-align: center;
}
.half{
    width:50%;
    font-size: 12px;
    line-height: 14px;
}
.half .icon {
    font-size: 18px;
    line-height: 14px;
    margin-right: 5px;
}
.logo{
	font-family: Ebrima-Bold, sans-serif;
	line-height: 42px;
	font-size: 30px;
	color:#7c838b;
	margin-left: 110px;
}
.dropzone{
	margin-top: 15px;
	border:none;
    background: #EFEFEF;
	border-radius:5px;
    position: relative;
    height:150px;
    min-height: 150px;
    transition: all .2s !important;
}
.dropzone .dz-default{
    position: absolute;
    bottom: 0;
    pointer-events: none;
    width: 100%;
    color:#666;
    opacity: 1 !important;
    left: 0;
    text-align: center;
    transition: all .5s !important;
    height: 50px !important;
    top:auto !important;
}
.dropzone:hover{
    box-shadow: 0 2px 5px rgba(0,0,0,.2) !important;
}
.dropzone:active{
    box-shadow: 0 1px 2px rgba(0,0,0,.2) !important;
}
.dropzone .dz-default>span{
    display: block !important;
}
.dropzone .icon{
    font-size: 42px;
    color:#666;
    position: absolute;
    pointer-events: none;
    bottom: 70px;
}
.dropzone .icon-sound{
    font-size: 26px;
    left: calc(50% + 70px);
    transform:rotate(45deg);
    transition: bottom .3s .1s, color .3s;
}
.dropzone .icon-video{
    font-size: 28px;
    left: calc(50% - 102px);
    transition: bottom .3s .1s, color .3s;
}
.dropzone .icon-note{
    left: calc(50% - 52px);
    transition: bottom .3s, color .3s;
}
.dropzone .icon-photo{
    left: calc(50% + 10px);
    transition: bottom .3s, color .3s;
}
.dropzone.dz-drag-hover .icon, .dropzone:hover .icon{
    color:#AAA;
    bottom:90px;
}
.dropzone .icon, .dropzone .dz-default{
    -webkit-transition-timing-function: cubic-bezier(.17,.67,.43,1.11);
    transition-timing-function: cubic-bezier(.17,.67,.43,1.11);
}
.dropzone.dz-drag-hover{
    border:none;
}

.dropzone.dz-drag-hover .dz-default, .dropzone:hover .dz-default{
    color:#AAA;
    bottom: -10px;
}
.dropzone input{
	display:none;
}
#progress_infos,#files{
    margin-top: 20px;
    color:#AAA;
}
#bar{
    width:100%;
    height:10px;
    background:#EEE;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}
#bar #progress{
    height:100%;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    background:#C34646;
}
.file{
    background: #F3F3F3;
    width:100%;
    height: 50px;
    margin-top: 5px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.file a{
    text-decoration: none;
}
.file>.copy,.download{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color:#FFEFEF;
    background: #C34646;
    font-size: 24px;
}
.file>.socials{
    position: absolute;
    top: 0;
    right: 50px;
    width: 25px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color:#FFEFEF;
    font-size: 24px;
}
.file a{
    transition: background .2s;
}
.file>.link{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 18px;
    padding:5px 0;
    width: 320px;
    height: 50px;
    color:#666;
    margin: 0 15px;
}
.file>.link span{
    font-size: 12px;
    color:#999;
}
.file>.copy:hover, .download:hover{
    background: #DE6363;
}
.file>.copy:active, .download:active{
    background: #DE6363;
}
.filename{
    font-weight:bold;
    color:#777;
    font-size:18px;
    line-height: 24px;
}
.expires{
    line-height: 24px;
}
.size{
    font-size:14px;
    line-height: 14px;
}
.md5{
    font-size:12px;
    color:#CCC;
    line-height: 14px;
}
.download{
    margin-top:15px;
    border-radius: 3px;
    position: static;
    width: 100%;
    height:50px;
    line-height: 50px;
    font-size:18px;
}

.pull-left{float:left;}
.pull-right{float:right;}
.clear{clear:both;}
.spacer{width: 100%;height: 10px;}
.marged-left{margin-left:5px;}
.marged-right{margin-right:5px;}
.text-centered{text-align: center;}
.big-icon{font-size:100px;width: 200px;height: 200px;margin:20px auto;line-height: 200px;border-radius: 50%;border:3px solid #EEE;}
@font-face {
	font-family: 'Ebrima-Bold';
	src: url('fonts/Ebrima-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/Ebrima-Bold.woff') format('woff'), url('fonts/Ebrima-Bold.ttf')  format('truetype'), url('fonts/Ebrima-Bold.svg#Ebrima-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'icons';
    src:    url('fonts/icons.eot?3e0h5w');
    src:    url('fonts/icons.eot?3e0h5w#iefix') format('embedded-opentype'),
        url('fonts/icons.ttf?3e0h5w') format('truetype'),
        url('fonts/icons.woff?3e0h5w') format('woff'),
        url('fonts/icons.svg?3e0h5w#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-link:before {
    content: "\e900";
}
.icon-facebook:before {
    content: "\e901";
}
.icon-github:before {
    content: "\e902";
}
.icon-twitter:before {
    content: "\e903";
}
.icon-clipboard:before {
    content: "\e013";
}
.icon-clock:before {
    content: "\e014";
}
.icon-leoche:before {
    content: "\e908";
}
.icon-server:before {
    content: "\e022";
}
.icon-speed:before {
    content: "\e055";
}
.icon-umbrella:before {
    content: "\e060";
}
.icon-tag:before {
    content: "\e085";
}
.icon-sound:before {
    content: "\e904";
}
.icon-video:before {
    content: "\e905";
}
.icon-photo:before {
    content: "\e906";
}
.icon-note:before {
    content: "\e907";
}
.icon-note:before {
    content: "\e005";
}